
<div class="container mt-5 mb-5" *ngIf="tvRecommend$ | async as tvRecommend">
  {{ tvRecommend | json}}
  <h2 class="mb-3 ">TV Maze Reccomends Details</h2>

  <!-- <button (click)="postData('body-text')">Send</button> -->
  <!-- <button (click)="getLastVideos()">Last Videos</button> -->

  <div class="card" >
    <div class="card-body d-flex justify-content-center ">
      <h3 class="card-title" >{{tvItem.name}}</h3>
    </div>
    <!-- <div class="card-body d-inline-flex justify-content-around">
      <div class="card-body col">
       {{item.summary}}
       <br>
       <button href = '' class='mt-2 primary'>More about show</button>
      </div>
      <img class="card-img col-2" src={{item.image.original}} alt="Card image cap">
      <div class="card-body col" >
        <p><label class="mr-2"><strong >Runtime:</strong></label>{{item.runtime}}</p>
        <p><label class="mr-2"><strong >Status:</strong></label>{{item.status}}</p>
        <p><label class="mr-2"><strong >Show Type:</strong></label>{{item.type}}</p>
        <p><label class="mr-2"><strong >Genres:</strong></label>{{item.genres}}</p>
        <p><label class="mr-2"><strong >Official site:</strong></label>{{item.officialSite}}</p>
      </div>
    </div> -->
  </div>
</div>

