


<button (click)="postData('body-text')">Send</button>

{{(tvRecommend$ | async) | json}}

<div class="card" >

  <div class="card-body d-flex justify-content-center ">
    <h3 class="card-title">{{(tvRecommend$ | async).name}}</h3>
  </div>
  <div class="card-body d-inline-flex justify-content-around">
    <div class="card-body col-3">
     {{(tvRecommend$ | async).summary}}
     <button href = '' >More about show</button>
    </div>
    <img class="card-img col-1" src='...' alt="Card image cap">
    <div class="card-body col-3">
      <p>{{(tvRecommend$ | async).runtime}}</p>
      <p>{{(tvRecommend$ | async).status}}</p>
      <p>{{(tvRecommend$ | async).type}}</p>
      <p>{{(tvRecommend$ | async).genres}}</p>
      <p>{{(tvRecommend$ | async).officialSite}}</p>
    </div>
  </div>
</div>
