<div class="container-login">
  <div class="wrap-login">
    <div class="col">
      <div class="card text-center border-0">
        <form [formGroup]="signUpUserForm" (submit)="onSubmitSignUpForm()" class="form">
          <span class="card-title pb-3">
            Registration
          </span>
          <div class="card-body ">
            <div class="form-group">
              <input formControlName="email" class="form-control border-bottom" type="email" placeholder="Email" required>
            </div>
            <div class="form-group">
              <input formControlName="password" class="form-control border-bottom" type="password" placeholder="Password" required>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Sign Up </button>
            </div>
            <div class="card-signup">
              <a routerLink="/login">Sign In</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- <form [formGroup]="signUpUserForm" (submit)="onSubmitSignUpForm()" class="form">
  <div class="form-group">
    <input formControlName="email" class="form-control" type="email" required>
  </div>
  <div class="form-group">
    <input formControlName="password" class="form-control" type="password" required>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit Sign Up</button>
  </div>
</form> -->
