$fontFamilyMajor: "Open Sans", sans-serif;
$fontFamilySecondary: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;


//colors
$color-text-primary: #fff;
$color-text-card-title: #b9e3de;


//background
$color-background-white: #ffffff;
$color-background-dark: #0a0a0a;
$color-background-green: #3C948B;
$color-background-grey: #696a6d;
$box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);


// Gradients
